name: vscode-extension
on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: win32
            arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: x64
          - os: ubuntu-24.04-arm
            platform: linux
            arch: arm64
          - os: macos-15
            platform: darwin
            arch: x64
          - os: macos-latest
            platform: darwin
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
        if: ${{ matrix.platform != 'darwin' }}
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          targets: [x86_64-apple-darwin, aarch64-apple-darwin]
        if: ${{ matrix.platform == 'darwin' }}
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: PNPM install
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - run: vscode-extension/build/init.sh
        if: ${{ matrix.platform != 'win32' }}
      - run: vscode-extension\build\init.bat
        shell: cmd
        if: ${{ matrix.platform == 'win32' }}
      - run: vscode-extension/build/${{ matrix.platform }}-${{ matrix.arch }}.sh
        if: ${{ matrix.platform != 'win32' }}
      - run: vscode-extension\build\${{ matrix.platform }}-${{ matrix.arch }}.bat
        shell: cmd
        if: ${{ matrix.platform == 'win32' }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.arch }}
          path: vscode-extension/packages/*.vsix

  publish:
    runs-on: ubuntu-latest
    needs: build
    if: success() && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: PNPM install
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - run: vscode-extension/build/init.sh
      - uses: actions/download-artifact@v4
        with:
          path: vscode-extension/packages/
          merge-multiple: true
      - run: vscode-extension/build/publish.sh '*'
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - uses: fnkr/github-action-ghr@v1
        env:
          GHR_DELETE: true
          GHR_PATH: vscode-extension/packages/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
